.login__page{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: #fafafa;
    justify-content:top;
    align-items:center
}
.login__logo {
    height: 120px;
    margin-top: 15px;
    object-fit: contain;
    cursor: pointer !important;
}
.login__form{
    display: flex;
    flex-direction: column;
    font-size:13px;
    margin-top: 50px;
    border: 1px solid lightgray;
    padding: 30px 40px;
    padding-bottom: 50px;
    border-radius: 3px;
    
    box-shadow: 2px 2px 30px 10px lightgray;
}
.login__input {
    font-size:12px !important;
    margin-bottom: 8px;
}
.login__button {
    border-radius: 25px !important;
    padding: 5px 0px;
    margin-top: 5px !important;
    background-color: rgb(255,166,0) !important
}

.social__login__button {
    margin-bottom: 10px !important;
    border-radius: 999px !important;
}
.social__icon{
    height: 20px !important;

}